<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="32" android:versionName="14.32" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="tachiyomi.animeextension"/>
    <application android:allowBackup="false" android:extractNativeLibs="true" android:icon="@mipmap/ic_launcher" android:label="Aniyomi: DhakaFlix">
        <meta-data android:name="tachiyomi.animeextension.class" android:value=".DhakaFlix"/>
        <meta-data android:name="tachiyomi.animeextension.nsfw" android:value="0"/>
    </application>
</manifest>
